# Output
message-store-download-content-csharp-demo/bin/
message-store-download-content-csharp-demo/obj/
message-store-download-content-csharp-demo/content/

# dotenv environment variables file
environment/.env-sandbox
environment/.env-production
