# Output
.vs
message-store-download-content-csharp-demo/bin/
message-store-download-content-csharp-demo/obj/
message-store-download-content-csharp-demo/content/
message-store-download-content-csharp-demo/Properties/
message-store-download-content-csharp-demo/content/

# environment variables file
